@page "/cfichacliente"
@using GoldYAN.Data
@using GoldYAN.Controller
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.EntityFrameworkCore
@inject IJSRuntime JsRuntime
@inject ClientesController CC
@attribute [Authorize(Roles = "Admin, Dev, Atendimento, Contabilidade")]

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ficha do Cliente</h6>
        </div>
        <EditForm autocomplçete="off" class="form-group" Model="@cFichaCliente" OnValidSubmit="@ClientCreate">
            <DataAnnotationsValidator />
            <div class="form-group form-inline m-2 p-1">
                <label class="" for="nome">Nome:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" placeholder="Nome do cliente" id="nome" @bind-Value="cFichaCliente.Nome" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Nome)" />

            <div class="form-group form-inline m-2 p-1">
                <label for="telefone">Telefone:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="telefone" placeholder="Telefone do cliente" @bind-Value="cFichaCliente.Telefone" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Telefone)" />

            <div class="form-group form-inline m-2 p-1">
                <label for="email">Email:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="email" placeholder="Email do cliente" @bind-Value="cFichaCliente.Email" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Email)" />

            <div class="form-group form-inline m-2 p-1">
                <label for="morada">Localidade:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="morada" placeholder="Localidade do cliente" @bind-Value="cFichaCliente.Localidade" />
            </div>

            <div class="form-group form-inline m-2 p-1">
                <label for="morada">Morada:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="morada" placeholder="Moarada do cliente" @bind-Value="cFichaCliente.Morada" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Morada)" />

            <div class="form-group form-inline m-2 p-1">
                <label for="moradaopcional">Morada Opcional:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="moradaopcional" placeholder="Morada Opcional do cliente" @bind-Value="cFichaCliente.Moradaopcional" />
            </div>
            <div class="form-group form-inline m-2 p-1">
                <label for="codigopostal">Codigo Postal:</label> &nbsp;
                <InputText autocomplete="false" class="w-25 form-control" oninput="this.value = this.value.toUpperCase()" id="codigopostal" placeholder="Codigo Postal do cliente" @bind-Value="cFichaCliente.Codigopostal" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Codigopostal)" />

            <div class="form-group form-inline m-2 p-1"
        <label for="nif">Nif:</label> &nbsp;
        <InputNumber autocomplete="false" class="w-25 form-control" id="nif" style="-moz-appearance: textfield;" placeholder="Nif do cliente" @bind-Value="cFichaCliente.Nif"/>
        </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Nif)" />

            <div class="form-group form-inline m-2 p-1">
                <label for="Profissao">Profissão</label> &nbsp;
                <InputText autocomplete="false" class="w-25  form-control" oninput="this.value = this.value.toUpperCase()" placeholder="Profissão do cliente" id="Profissao" @bind-Value="cFichaCliente.Profissao" />
            </div>
            <ValidationMessage class="alert alert-warning" style="color:red !important" For="@(() => cFichaCliente.Profissao)" />

            <div class="form-group m-3">
                <button type="submit" class="btn btn-primary float-right">Criar</button>
                <button type="reset" style="margin-right: 0.5rem" class="btn btn-primary float-right">Cancelar</button>
            </div>
        </EditForm>
    </div>
</div>



@code {


    private Clientes cFichaCliente = new Clientes();

    public async Task ClientCreate()
    {
        cFichaCliente.Datacriacao = DateTime.Now.ToShortDateString();
        CC.Post(cFichaCliente);
        Esperar();
        cFichaCliente = new Clientes();

    }

    public async Task Esperar() => await Task.Delay(2500);


}