@page "/cmoldes"
@using GoldYAN.Data
@using GoldYAN.Controller
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Moldes</h6>
        </div>
        <EditForm Model="@cMolde" class="form-group" OnValidSubmit="@CriarMolde">
         
            <div class="form-group m-2 p-1">
                <label for="codigo">Código</label>
                <InputText class="w-25 form-control" id="codigo" @bind-Value="cMolde.codigo" />
                <ValidationMessage For="@(() => cMolde.codigo)" />
            </div>

            <div class="form-group m-2 p-1">
                <label for="descricao">Descrição</label>
                <InputText class="w-25 form-control" id="descricao" @bind-Value="cMolde.descricao" />
                <ValidationMessage For="@(() => cMolde.descricao)" />
            </div>

            <div class="form-group m-2 p-1">
                <label for="tipopeça">Tipo Peça</label>
                <InputNumber class="w-25 form-control" id="telefone" @bind-Value="cMolde.idfproduto" />
            </div>

            <div class="form-group m-2 p-1">
                <label for="gaveta">Gaveta</label>
                <InputNumber class="w-25 form-control" id="gaveta" placeholder="Boas" @bind-Value="cMolde.Gaveta" />
            </div>

            <div class="form-group m-2 p-1">
                <label for="tempo">Tempo</label>
                <InputText class="w-25 form-control" id="tempo" placeholder="Indique o tempo que demorou (minutos)" @bind-Value="cMolde.tempo" />
                <ValidationMessage For="@(() => cMolde.tempo)" />
            </div>

            <div class="form-group m-2 p-1">
                <label for="peso">Peso</label>
                <InputNumber class="w-25 form-control" id="peso" @bind-Value="cMolde.Gaveta"  />
            </div>
            <div class="m-3">
                <button class="btn btn-primary float-right" style="margin-left: 5px" type="reset">Cancelar</button>
                <button class="btn btn-primary float-right" type="submit">Criar Molde</button>
            </div>
        </EditForm>
    </div>
</div>


@code {

    private Moldes cMolde = new Moldes();

    MoldesController CM = new MoldesController();

    public void CriarMolde()
    {
        CM.Post(cMolde);
        Esperar();
        cMolde = new Moldes();
    }

    public async Task Esperar()
    {
        await Task.Delay(2500);
    }

}