@page "/vmoldes"
@using GoldYAN.Data
@using GoldYAN.Controller
@using System.Runtime
@inject IJSRuntime JS;
@inject MoldesController VM
@attribute [Authorize]

@if (showModal)
{

    <div class="modal fade show" id="myModal" style="display:block ;background-color:rgba(128, 128, 128, 0.5);" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Lançar Estado</h4>
                    <button type="button" class="close" @onclick="FecharModal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <EditForm Model="@Emolde" class="form-group" OnValidSubmit="Update">

                        <div class="form-group m-2 p-1">
                            <label for="codigo">Código</label>
                            <InputText autocomplete="false" oninput="this.value = this.value.toUpperCase()" placeholder="Código Molde" class="w-25 form-control" id="codigo" @bind-Value="Emolde.codigo" />
                            <ValidationMessage For="@(() => Emolde.codigo)" />
                        </div>

                        <div class="form-group m-2 p-1">
                            <label for="descricao">Descrição</label>
                            <InputText autocomplete="false" oninput="this.value = this.value.toUpperCase()" class="w-25 form-control" placeholder="Descrição do Molde" id="descricao" @bind-Value="Emolde.descricao" />
                            <ValidationMessage For="@(() => Emolde.descricao)" />
                        </div>
                        <div class="form-group m-2 p-1">
                            <label for="gaveta">Gaveta</label>
                            <InputNumber autocomplete="false" style="-moz-appearance: textfield;" class="w-25 form-control" id="gaveta" placeholder="Gaveta molde" @bind-Value="Emolde.gaveta" />
                        </div>

                        @*<div class="form-group m-2 p-1">
                            <label for="tempo">Tempo</label>
                            <InputText class="w-25 form-control" id="tempo" placeholder="Indique o tempo que demorou (minutos)" @bind-Value="Emolde.tempo" />
                            <ValidationMessage For="@(() => Emolde.tempo)" />
                            </div>*@

                        <div class="form-group m-2 p-1">
                            <label for="peso">Peso</label>
                            <InputText class="w-25 form-control" id="peso" placeholder="Peso do molde" @bind-Value="Emolde.peso" />
                        </div>
                    </EditForm>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="FecharModal">Cancelar</button>
                    <button type="submit" @onclick="Update" class="btn btn-primary">Lancar</button>
                </div>
            </div>
        </div>
    </div>



}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listagem de Moldes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" @bind="Filter" @bind:event="oninput" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-sm table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">IdMolde</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 170px;">Descrição</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Gaveta</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Ações</th></tr>
                                </thead>
                                <tfoot>
                                    <tr><th rowspan="1" colspan="1">IDMoldes</th><th rowspan="1" colspan="1">Descrição</th><th rowspan="1" colspan="1">Gaveta</th><th rowspan="1" colspan="1">Ações</th></tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var molde in @VMS)
                                    {
                                        if (!IsVisible(molde))
                                            continue;
                                        <tr role="row" class="odd" id="@molde.idmolde">
                                            <td>@molde.codigo</td>
                                            <td>@molde.descricao</td>
                                            <td>@molde.gaveta</td>
                                            <td><button @onclick="() => LoadModal(molde.idmolde)" class="btn btn-sm btn-primary" style="margin-left:1rem"><i class="fas fa-pen"></i></button><button class="btn btn-sm btn-danger" style="margin-left:0.3rem"><i class="fas fa-trash"></i></button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

    string DescricaoProduto;
    string Filter;
    bool showModal = false;
    Data.Moldes Emolde = new Moldes();
    List<Moldes> VMS = new List<Moldes>();

    protected override async Task OnInitializedAsync()
    {
        GCSettings.LargeObjectHeapCompactionMode = GCLargeObjectHeapCompactionMode.CompactOnce;
        GC.Collect();
        VMS = VM.Get();

    }

    public bool IsVisible(Moldes moldes)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (moldes.idmolde.ToString().ToLower().Contains(Filter) || moldes.descricao.ToLower().Contains(Filter) || moldes.tipodepeça.ToString().ToLower().Contains(Filter))
            return true;

        return false;
    }

    public async Task LoadModal(int id)
    {
        Emolde = VM.Get(id);
        showModal = true;
    }

    public async Task FecharModal()
    {
        showModal = false;
    }

    public async Task Update()
    {
        VM.Put(Emolde.idmolde, Emolde);
        OnInitializedAsync();
        showModal = false;

    }
    }
