@page "/cmodelo"

@using GoldYAN.Data
@using GoldYAN.Controller
@using System


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cabeçalho Modelo</h6>
        </div>
        <EditForm Model="@cm" OnValidSubmit="@AdicionarLista">
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Descricao">Referência do Modelo:</label> &nbsp
                    <InputText id="Descricao" class="form-control" placeholder="Ainda não selecionado" @bind-Value="cm.idmodelo" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Descricao">Descrição:</label> &nbsp
                    <InputText id="Descricao" class="form-control" placeholder="Ainda não selecionado" @bind-Value="cm.descricao" />
                </div>
            </div>
        </EditForm>

        <div class="m-3 form-group ">
            <div class="form-inline">
                <label for="nome" class="">Tipo de Produto:</label>
                <BlazoredTypeahead class="col-sm-5" SearchMethod="ProcurarProdutos"  oninput="this.value = this.value.toUpperCase()" @bind-Value="dtp" Placeholder="Pesquisar cliente">
                        <SelectedTemplate>
                            @context.codigo (Desc: @context.descricao)
                        </SelectedTemplate>
                        <ResultTemplate>@context.codigo + @context.descricao </ResultTemplate>
                    </BlazoredTypeahead>
            </div>
        </div>

            <div class="m-3 form-group ">
                <div class="form-inline">
                    <label for="nome" class="">Tipo de Peça:</label>
                    <BlazoredTypeahead class="" SearchMethod="ProcurarPecas" oninput="this.value = this.value.toUpperCase()" @bind-Value="dtdp" Placeholder="Pesquisar cliente">
                            <SelectedTemplate>
                                @context.codigo (Desc: @context.descricao)
                            </SelectedTemplate>
                            <ResultTemplate> @context.codigo + @context.descricao </ResultTemplate>
                        </BlazoredTypeahead>
                </div>
            </div>
        </div>
    </div>



<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="display:inline;" >Formulário Modelos</h6>
            @if (!String.IsNullOrEmpty(cm.idmodelo) && cm.idtipodepeca == 0 && cm.idtipoproduto == 0 && !String.IsNullOrEmpty(cm.descricao) )
            {
                <h6 class="m-1 float-right text-danger" style="display: inline;">Preencha primeiro o cabeçalho do modelo!</h6>
            }
            else
            {
                Readonly = false;
            }

        </div>

 

        <EditForm Model="m">
            <div class="m-3 form-group col-sm-5">
                <div class="form-inline">
                    <label for="Descricao">Componente:</label> &nbsp
                    <InputSelect @bind-Value="@m.formadepesquisa">
                        <option selected >------</option>
                        <option>Molde</option>
                        <option>Serviço</option>
                        <option>Produtos</option>
                    </InputSelect>
                </div>
            </div>
        </EditForm>


        @if (m.formadepesquisa == "Molde")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Molde:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarMoldes" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="mlds" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate>
                            @context.descricao
                        </SelectedTemplate>
                        <ResultTemplate> @context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else if (m.formadepesquisa == "Serviço")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Serviço:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarServicos" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="servicos" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate >
                            @context.descricao
                        </SelectedTemplate>
                        <ResultTemplate>@context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else if (m.formadepesquisa == "Produtos")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Produtos:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarProdutos" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="produtos" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate>
                            @context.codigo
                        </SelectedTemplate>
                        <ResultTemplate>@context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else
        {
        }
        
        <div class="m-3 form-group">
            <div class="form-inline">
                <label for="datadeentrega">Colaborador:</label> &nbsp
                <BlazoredTypeahead SearchMethod="ProcurarColaboradores" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="cl" Placeholder="Pesquisar Serviço">
                    <SelectedTemplate>
                        @context.codigo : @context.descricao
                    </SelectedTemplate>
                    <ResultTemplate>@context.codigo : @context.descricao</ResultTemplate>
                </BlazoredTypeahead>
            </div>
        </div>


        <EditForm Model="@m" OnValidSubmit="@AdicionarLista">
            <DataAnnotationsValidator />

            @*<div class="m-3 form-group">
                <div class="form-inline">
                    <label for="telefone">Referência de Modelo:</label> &nbsp
                    <InputText id="telefone" class="form-control" @bind-Value="" />
                </div>
            </div>*@


            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Quantidade">Quantidade:</label> &nbsp
                    <InputNumber id="Quantidade" class="form-control" placeholder="Quantidade" disabled="@Readonly" @bind-Value="m.quantidade" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="peso">Peso:</label> &nbsp
                    <InputNumber id="peso" class="form-control" placeholder="Peso" disabled="@Readonly" @bind-Value="m.peso" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="preco">Preco:</label> &nbsp
                    <InputNumber id="preco" class="form-control" placeholder="Preço do serviço" disabled="@Readonly" @bind-Value="m.preco" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="apontamentos">Valor Total:</label> &nbsp
                    <InputNumber id="apontamentos" class="form-control" placeholder="Apontamentos para o serviço" disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="m.valortotal" />
                </div>
            </div>



            <div class="m-3 form-group">
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </EditForm>
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sumário da Encomenda</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;table-layout: fixed;">
                            <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">Código</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 170px;">Descrição</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Apontamentos</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Peso</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Preço</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Data de Entrega</th></tr>
                            </thead>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Componente</th><th rowspan="1" colspan="1">Colaborador</th><th rowspan="1" colspan="1">Classificação</th><th rowspan="1" colspan="1">Código</th><th rowspan="1" colspan="1">Descrição</th><th rowspan="1" colspan="1">Qtd.</th><th rowspan="1" colspan="1">Peso</th><th rowspan="1" colspan="1">Valor.Un.</th><th rowspan="1" colspan="1">Valor Total</th></tr>
                            </tfoot>
                            <tbody>
                                @foreach (var modelo in listaModelos)
                                {
                                <tr style="height: 1em;">
                                    @if (modelo.idmolde != 0)
                                    {
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idmolde">Molde</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idcolaborador">@modelo.idcolaborador</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idmolde">@modelo.idmolde</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.descricao">@modelo.descricao</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.quantidade">@modelo.quantidade</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.peso">@modelo.peso</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.preco">@modelo.preco</td>

                                    }
                                    else if (modelo.idservico != 0)
                                    {
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idservico">Servico</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idcolaborador">@modelo.idcolaborador</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idservico">@modelo.idservico</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.descricao">@modelo.descricao</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.quantidade">@modelo.quantidade</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.peso">@modelo.peso</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.preco">@modelo.preco</td>
                                    }
                                    else
                                    {
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idproduto">Produto</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idcolaborador">@modelo.idcolaborador</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.idproduto">@modelo.idproduto</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.descricao">@modelo.descricao</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.quantidade">@modelo.quantidade</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.peso">@modelo.peso</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@modelo.preco">@modelo.preco</td>
                                    }

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" @onclick="CriarEncomenda" class="btn btn-success">Criar Modelo</button>


    </div>
</div>



@code {
    // Invoking classes
    Data.Servicos servicos = new Servicos();
    Data.Moldes mlds = new Moldes();
    Data.Produtos produtos = new Produtos();
    Data.CabecalhosModelos cm = new CabecalhosModelos();
    Data.Modelos m = new Modelos();
    Data.Colaboradores cl = new Colaboradores();
    Data.TipoDePeca dtdp = new TipoDePeca();
    Data.TipoProduto dtp = new TipoProduto();



    //Invoking lists
    List<Servicos> ListaServicos = new List<Servicos>();
    List<Produtos> listaProdutos = new List<Produtos>();
    List<Moldes> listaMoldes = new List<Moldes>();
    List<TipoDePeca> listaTipoDePecas = new List<TipoDePeca>();
    List<TipoProduto> listaTipoProdutos = new List<TipoProduto>();
    List<Modelos> listaModelos = new List<Modelos>();
    List<Colaboradores> colaboradores = new List<Colaboradores>();







    //Utilitie Stuff
    bool Readonly = true;
    bool ReadonlyCabecalho = true;
    int i;
    string formadepesquisa;


    protected override async Task OnInitializedAsync()
    {

        //Cleaning Lists And Class Objects
        ListaServicos = new List<Servicos>();
        servicos = new Servicos();

        colaboradores = colaboradoresController.GetAll();
        listaMoldes = MoldesController.Get();
        listaTipoDePecas = TPC.GetAll();
        listaTipoProdutos = TPRC.GetAll();
        ListaServicos = SC.GetAll();
        servicos.idservico = 0;
    }

    private async Task<IEnumerable<TipoDePeca>> ProcurarPecas(string searchText)
    {
        return await Task.FromResult(listaTipoDePecas.Where(h => h.codigo.ToLower().Contains(searchText.ToLower()) || h.descricao.ToLower().Contains(searchText.ToLower()) || h.idpeca.ToString().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<Moldes>> ProcurarMoldes(string searchText)
    {
        return await Task.FromResult(listaMoldes.Where(h => h.codigo.ToLower().Contains(searchText.ToLower()) || h.descricao.ToLower().Contains(searchText.ToLower()) || h.idmolde.ToString().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<Servicos>> ProcurarServicos(string searchText)
    {
        return await Task.FromResult(ListaServicos.Where(h => h.codigo.ToLower().Contains(searchText.ToLower()) || h.descricao.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<TipoProduto>> ProcurarProdutos(string searchText)
    {
        return await Task.FromResult(listaTipoProdutos.Where(h => h.codigo.ToLower().Contains(searchText.ToLower()) || h.descricao.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<Colaboradores>> ProcurarColaboradores(string searchText)
    {
        return await Task.FromResult(colaboradores.Where(h => h.codigo.ToLower().Contains(searchText.ToLower()) || h.descricao.ToLower().Contains(searchText.ToLower())).ToList());
    }


    private async Task AdicionarLista()
    {
        if (mlds.idmolde != 0 || servicos.idservico != 0 || produtos.idproduto != 0)
        {
            i++;

            m.linha = i;
            m.idmolde = mlds.idmolde;
            m.idservico = servicos.idservico;
            m.idproduto = produtos.idproduto;

            listaModelos.Add(m);

            m = new Modelos();
            servicos = new Servicos();
            produtos = new Produtos();
            mlds = new Moldes();
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Impossivél adicionar, por favor verifique os campos!");
        }

    }

    public async Task CriarEncomenda()
    {
        if (listaModelos.Count != 0)
        {
            //Vai buscar o utilizador que está logado
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            cm.idtipoproduto = dtp.idtipoproduto;
            cm.idtipodepeca = dtdp.idpeca;
            cm.criadopor = user.Identity.Name;
            cm.datacriacao = DateTime.Now;


            var resultado = CMC.Post(cm);
            await Task.Delay(1000);

            for (int i = 0; i < listaModelos.Count; i++)
            {
                listaModelos[i].idmodelo = resultado.idmodelo;
                MC.Post(listaModelos[i]);
            }
            StateHasChanged();
            OnInitializedAsync();
        }
        else
        {
            await js.InvokeVoidAsync("alert", "Impossível criar a encomenda, por favor, insira bem os dados da encomenda!");
        }
    }
}



