@page "/cprodutos"
@using GoldYAN.Data
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cabeçalho Modelo</h6>
        </div>
        <EditForm Model="@cm" OnValidSubmit="@CriarCabecalho()">
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Descricao">Referência do Molde:</label> &nbsp
                    <InputText oninput="this.value = this.value.toUpperCase()" id="Descricao" class="form-control" placeholder="Ainda não selecionado" @bind-Value="cm.idmodelo" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Descricao">ID:</label> &nbsp
                    <InputText oninput="this.value = this.value.toUpperCase()" id="Descricao" class="form-control" placeholder="Ainda não selecionado" @bind-Value="cm.descricao" />
                </div>
            </div>
        </EditForm>

        <div class="m-3 form-group ">
            <div class="form-inline">
                <label for="nome" class="">Tipo de Produto:</label>
                <BlazoredTypeahead class="col-sm-5" SearchMethod="ProcurarProdutos" oninput="this.value = this.value.toUpperCase()" @bind-Value="dtp" Placeholder="Pesquisar cliente">
                    <SelectedTemplate>
                        @context.codigo (Desc: @context.descricao)
                    </SelectedTemplate>
                    <ResultTemplate>@context.codigo + @context.descricao </ResultTemplate>
                </BlazoredTypeahead>
            </div>
        </div>

        <div class="m-3 form-group ">
            <div class="form-inline">
                <label for="nome" class="">Tipo de Peça:</label>
                <BlazoredTypeahead class="" SearchMethod="ProcurarPecas" oninput="this.value = this.value.toUpperCase()" @bind-Value="dtdp" Placeholder="Pesquisar cliente">
                    <SelectedTemplate>
                        @context.codigo (Desc: @context.descricao)
                    </SelectedTemplate>
                    <ResultTemplate> @context.codigo + @context.descricao </ResultTemplate>
                </BlazoredTypeahead>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="display:inline;">Formulário Modelos</h6>
            @if (dtdp.idpeca == 0 || dtp.idtipoproduto == 0)
            {
                <h6 class="m-1 float-right text-danger" style="display: inline;">Preencha primeiro o cabeçalho do modelo!</h6>
            }
            else
            {
                Readonly = false;
            }

        </div>



        <EditForm Model="m">
            <div class="m-3 form-group col-sm-5">
                <div class="form-inline">
                    <label for="Descricao">Componente:</label> &nbsp
                    <InputSelect @bind-Value="@m.formadepesquisa">
                        <option selected>------</option>
                        <option>Molde</option>
                        <option>Serviço</option>
                        <option>Produtos</option>
                    </InputSelect>
                </div>
            </div>
        </EditForm>


        @if (m.formadepesquisa == "Molde")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Molde:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarMoldes" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="mlds" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate>
                            @context.descricao
                        </SelectedTemplate>
                        <ResultTemplate> @context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else if (m.formadepesquisa == "Serviço")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Serviço:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarServicos" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="servicos" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate>
                            @context.descricao
                        </SelectedTemplate>
                        <ResultTemplate>@context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else if (m.formadepesquisa == "Produtos")
        {
            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="nome">Produtos:</label>
                    <BlazoredTypeahead SearchMethod="ProcurarProdutos" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="produtos" Placeholder="Pesquisar Serviço">
                        <SelectedTemplate>
                            @context.codigo
                        </SelectedTemplate>
                        <ResultTemplate>@context.codigo + @context.descricao</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        }
        else
        {
        }

        <div class="m-3 form-group">
            <div class="form-inline">
                <label for="datadeentrega">Colaborador:</label> &nbsp
                <BlazoredTypeahead SearchMethod="ProcurarColaboradores" DisableClear="true" EnableDropDown="true" Disabled="@Readonly" oninput="this.value = this.value.toUpperCase()" @bind-Value="cl" Placeholder="Pesquisar Serviço">
                    <SelectedTemplate>
                        @context.codigo : @context.descricao
                    </SelectedTemplate>
                    <ResultTemplate>@context.codigo : @context.descricao</ResultTemplate>
                </BlazoredTypeahead>
            </div>
        </div>


        <EditForm Model="@m" OnValidSubmit="@AdicionarLista">
            <DataAnnotationsValidator />

            @*<div class="m-3 form-group">
                    <div class="form-inline">
                        <label for="telefone">Referência de Modelo:</label> &nbsp
                        <InputText id="telefone" class="form-control" @bind-Value="" />
                    </div>
                </div>*@


            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="Quantidade">Quantidade:</label> &nbsp
                    <InputNumber id="Quantidade" class="form-control" placeholder="Quantidade" disabled="@Readonly" @bind-Value="m.quantidade" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="peso">Peso:</label> &nbsp
                    <InputNumber id="peso" class="form-control" placeholder="Peso" disabled="@Readonly" @bind-Value="m.peso" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="preco">Preco:</label> &nbsp
                    <InputNumber id="preco" class="form-control" placeholder="@cl.valor" disabled="@Readonly" @bind-Value="m.preco" />
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="form-inline">
                    <label for="apontamentos">Valor Total:</label> &nbsp
                    <InputNumber id="apontamentos" class="form-control" placeholder="Apontamentos para o serviço" disabled="@Readonly" @bind-Value="m.valortotal" />
                </div>
            </div>

            @*<div class="m-3 form-group">
                    <div class="form-inline">
                        <label for="apontamentos">Imagem</label> &nbsp
                        <InputFile id="apontamentos" class="form-control" placeholder="Apontamentos para o serviço" disabled="@Readonly" @bind-Value="m.Image" />
                    </div>
                </div>*@



            <div class="m-3 form-group">
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </EditForm>
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sumário da Encomenda</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;table-layout: fixed;">
                            <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 90px;">Componente</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 100px;">Colaborador</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Classificação</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Código</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Descrição</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 30px;">Qtd.</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 30px;">Peso</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 30px;">Valor.Un.</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 30px;">Valor Total</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Ações</th></tr>
                            </thead>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Componente</th><th rowspan="1" colspan="1">Colaborador</th><th rowspan="1" colspan="1">Classificação</th><th rowspan="1" colspan="1">Código</th><th rowspan="1" colspan="1">Descrição</th><th rowspan="1" colspan="1">Qtd.</th><th rowspan="1" colspan="1">Peso</th><th rowspan="1" colspan="1">Valor.Un.</th><th rowspan="1" colspan="1">Valor Total</th><th rowspan="1" colspan="1">Ações</th></tr>
                            </tfoot>
                            <tbody>
                                @foreach (var produto in LCP)
                                {
                                <tr style="height: 1em;">
                                    @if (produto.idservico.HasValue)
                                    {
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idservico">Servico</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idcolaborador">@produto.idcolaborador</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idservico">@produto.idservico</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.descricao">@produto.descricao</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.quantidade">@produto.quantidade</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.peso">@produto.peso</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.custo">@produto.custo</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.custototal">@produto.custototal</td>
                                        <td><button class="btn btn-primary btn-sm" style="margin-left: 1rem">Editar</button><button class="btn btn-danger btn-sm" style="margin-left: 0.3rem">Apagar</button></td>

                                    }
                                    else
                                    {
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idproduto">Produto</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idcolaborador">@produto.idcolaborador</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.idproduto">@produto.idproduto</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.descricao">@produto.descricao</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.quantidade">@produto.quantidade</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.peso">@produto.peso</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.custo">@produto.custo</td>
                                        <td style="overflow: hidden; white-space: nowrap;" title="@produto.custototal">@produto.custototal</td>
                                        <td><button class="btn btn-primary btn-sm" style="margin-left: 1rem">Editar</button><button class="btn btn-danger btn-sm" style="margin-left: 0.3rem">Apagar</button></td>

                                    }

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" @onclick="CriarProduto()" class="btn btn-success">Criar Produto</button>


    </div>
</div>



@code {

    Data.CabecalhoProdutos CCP = new CabecalhoProdutos();
    List<Data.Produtos> LCP = new List<Produtos>();
    List<Data.CabecalhoProdutos> LLCP = new List<CabecalhoProdutos>();
    private async Task CriarCabecalho()
    {

    }

    public async Task CriarProduto()
    {

    }

    public async Task AdicionarComposto()
    {

    }

    public async Task EditarComposto()
    {

    }

    public async Task ApagarComposto()
    {

    }

}