@page "/hstock"
@attribute [Authorize]


<div class="container-fluid">

    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>!-->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Movimento de Stock</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive-sm">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Pesquisar Produto:</label>
                              
                        <BlazoredTypeahead SearchMethod="ProcurarProdutos" DisableClear="true" EnableDropDown="true" oninput="this.value = this.value.toUpperCase()" @bind-Value="produtos"  Placeholder="Pesquisar Produto">
                            <SelectedTemplate>
                                @context.idproduto + @context.descricao
                            </SelectedTemplate>
                            <ResultTemplate>@context.idproduto + @context.descricao</ResultTemplate>
                        </BlazoredTypeahead>
                        <div class="form-group mt-2">
                            <button class="btn btn-sm btn-primary" style="display:inline;" type="button" @onclick="LoadStock"><i class="fas fa-search"></i>Procurar</button>
                        </div>

                        </div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">Tipo de Movimento</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 170px;">Data</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Documento</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Produto</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Quantidade</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 170px;">Referencia Saida</th></tr>
                                </thead>
                                <tfoot>
                                <tr><th rowspan="1" colspan="1">Tipo de Movimento</th><th rowspan="1" colspan="1">Data</th><th rowspan="1" colspan="1">Documento</th><th rowspan="1" colspan="1">Produto</th><th rowspan="1" colspan="1">Quantidade</th><th rowspan="1" colspan="1">Referencia Saida</th></tr>
                                </tfoot>
                                <tbody>
                                @foreach (var stock in vhStock)
                                {

                                    var desc = listaCabecalhoProduto.Where(h => h.idproduto.Equals(stock.idprodutoalterado)).ToList();

                                    <tr style="height: 1em;">
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.tipo">@stock.tipo</td>
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.datacriacao">@stock.datacriacao</td>
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.idcomponente-@stock.tipocomponente">@stock.idcomponente-@stock.tipocomponente</td>
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.idprodutoalterado-@desc[0].descricao">@stock.idprodutoalterado-@desc[0].descricao</td>
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.stockadicionado">@stock.stockadicionado</td>
                                        <td style=" overflow: hidden; white-space: nowrap; " title="@stock.referenciasaida">@stock.referenciasaida</td>

                                    </tr>


                                    AdicionarStock(stock.stockadicionado, stock.tipo);
                                    CheckStock();

                                }
                                
                                </tbody>
                            </table>
                            <div class="float-right form-group row mt-3">
                                <label class="col-form-label">Entrada:</label>  &nbsp;
                                <input class="form-control w-25" value="@Entrada" />

                                <label class="col-form-label">Saida:</label>  &nbsp;
                                <input class="form-control w-25" value="@Saida" />

                                <label class="col-form-label">Stock:</label> &nbsp;
                                <input class="form-control w-25" value="@Stock" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    List<CabecalhoProdutos> listaCabecalhoProduto = new List<CabecalhoProdutos>();
    Data.CabecalhoProdutos produtos = new CabecalhoProdutos();
    Data.CabecalhoProdutos cprodutos = new CabecalhoProdutos();

    List<HistoricoStock> vhStock = new List<HistoricoStock>();
    public string Filter { get; set; }
    public double Entrada { get; set; }
    public double Saida { get; set; }
    public double Stock { get; set; }



    protected override async Task OnInitializedAsync()
    {
        listaCabecalhoProduto = CAPC.GetAll();

    }


    public async Task CheckStock()
    {
        Stock = Entrada - Saida;
    }

    public async Task AdicionarStock(double stock, string tipo)
    {

        if (tipo == "Entrada")
        {
            Entrada += stock ;
        }
        else
        {
            Saida += stock;
        }
    }

    public async Task LoadStock()
    {
        if(produtos.idproduto != null)
        {
            Stock = new double();
            Entrada = new double();
            Saida = new double();
            vhStock = hStockC.GetAllProdutoQuery(produtos.idproduto);
        }
        else
        {
            js.InvokeVoidAsync("alert", "Seleciona primeiro um produto");
        }
    }

    private async Task<IEnumerable<CabecalhoProdutos>> ProcurarProdutos(string searchText)
    {
        return await Task.FromResult(listaCabecalhoProduto.Where(h => h.descricao.ToLower().Contains(searchText.ToLower()) || h.idproduto.Equals(searchText.ToLower())).ToList());
    }

}
