@using GoldYAN.Controller
@inject IJSRuntime js
@page "/familiaprodutos"
@inject FamiliaProdutosController VFP
@attribute [Authorize]

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Informação</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@updateFP" OnValidSubmit="@Update">
                        <div class="form-group m-3 p-1">
                            <label for="telefone">ID da Unidade:</label>
                            <InputNumber class="w-25 form-control" id="telefone" @bind-Value="updateFP.idunidade" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Tipo:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateFP.tipo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="telefone">Codigo:</label>
                            <InputText class="w-25 form-control" id="telefone" @bind-Value="updateFP.codigo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Nome:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateFP.nome" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Descrição:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateFP.descricao" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">DescriçãoEQ</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateFP.descricaoeq" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Toque:</label>
                            <InputNumber class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateFP.toque" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (showModal2)
{
    <div class="modal fade show" id="myModal" style="display:block; background-color:rgba(128, 128, 128, 0.5);" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Inserir nova familia</h4>
                    <button type="button" class="close" @onclick="@ModalCancel2">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@criarFP" OnValidSubmit="@Criar">
                        <div class="form-group m-3 p-1">
                            <label for="telefone">ID da Unidade:</label>
                            <InputNumber class="w-25 form-control" id="telefone" @bind-Value="criarFP.idunidade" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Tipo:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarFP.tipo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="telefone">Codigo:</label>
                            <InputText class="w-25 form-control" id="telefone" @bind-Value="criarFP.codigo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Nome:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarFP.nome" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Descrição:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarFP.descricao" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">DescriçãoEQ</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarFP.descricaoeq" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Toque:</label>
                            <InputNumber class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarFP.toque" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Inserir Familia</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}



<AuthorizeView Roles="Admin">
    <Authorized>

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">Listagem de Familias</h6> <button type="submit" @onclick="@ModalShow2" class="btn btn-success btn-sm float-right"><i class="fas fa-plus"></i>Inserir nova familia</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Pesquisar Encomenda:<input type="search" @bind="Filter" @bind:event="oninput" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">IDFamiliaProduto</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 170px;">IDUnidade</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 71px;">Tipo</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Contacto: activate to sort column ascending" style="width: 31px;">Codigo</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Nome</th><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">Descrição</th><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">DescriçãoEQ</th><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 101px;">toque</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Ações</th></tr>
                                        </thead>
                                        <tfoot>
                                            <tr><th rowspan="1" colspan="1">IDFamiliaProduto</th><th rowspan="1" colspan="1">IDUnidade</th><th rowspan="1" colspan="1">Tipo</th><th rowspan="1" colspan="1">Codigo</th><th rowspan="1" colspan="1">Nome</th><th rowspan="1" colspan="1">Descrição</th><th rowspan="1" colspan="1">DescriçãoEQ</th><th rowspan="1" colspan="1">Toque</th><th rowspan="1" colspan="1">Ações</th></tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var fp in @VFPS)
                                            {
                                                if (!IsVisible(fp))
                                                    continue;
                                                <tr style="height: 1em;">
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.idfproduto">@fp.idfproduto</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.idunidade">@fp.idunidade</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.tipo">@fp.tipo</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.codigo">@fp.codigo</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.nome">@fp.nome</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.descricao">@fp.descricao</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.descricaoeq">@fp.descricaoeq</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@fp.toque">@fp.toque</td>
                                                    <td><button class="btn btn-sm btn-primary" @onclick="@ModalShow" style="margin-left:1rem"><i class="fas fa-pen"></i></button><button class="btn btn-sm btn-danger" @onclick="() => Apagar(fp.idfproduto)" style="margin-left:0.3rem"><i class="fas fa-trash"></i></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Não tem acesso a esta página</h1>
    </NotAuthorized>
</AuthorizeView>



@code {

    List<GoldYAN.Data.FamiliaProdutos> VFPS = new List<GoldYAN.Data.FamiliaProdutos>();

    Data.FamiliaProdutos updateFP = new Data.FamiliaProdutos();

    Data.FamiliaProdutos criarFP = new Data.FamiliaProdutos();

    bool showModal = false;
    bool showModal2 = false;

    protected override async Task OnInitializedAsync()
    {
        VFPS = VFP.Get();
        @foreach (var fp in @VFPS)
        {

            updateFP.idfproduto = fp.idfproduto;
            updateFP.idunidade = fp.idunidade;
            updateFP.tipo = fp.tipo;
            updateFP.codigo = fp.codigo;
            updateFP.nome = fp.nome;
            updateFP.descricao = fp.descricao;
            updateFP.descricaoeq = fp.descricaoeq;
            updateFP.toque = fp.toque;

        }

    }

    public async Task Apagar(int id)
    {

        bool confirmation;

        confirmation = await js.InvokeAsync<bool>("confirm", "Quer mesmo apagar?");

        if (confirmation)
        {
            string message = VFP.Delete(id);
            OnInitializedAsync();
            Task.Delay(1000);
            {
                await js.InvokeVoidAsync("alert", @message);
            }
        }
    }

    public async Task Update()
    {
        VFP.Put(updateFP.idfproduto, updateFP);
        showModal = false;
    }

    public async Task Criar()
    {
        var resultado = VFP.Post(criarFP);
        StateHasChanged();
        showModal2 = false;
        VFPS = VFP.Get();

    }


    void ModalShow()
    {
        showModal = true;
    }
    void ModalCancel()
    {
        showModal = false;
    }

    void ModalShow2()
    {
        showModal2 = true;
    }
    void ModalCancel2()
    {
        showModal2 = false;
    }

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

    public string Filter { get; set; }

    public bool IsVisible(Data.FamiliaProdutos fmp)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (fmp.descricao.Contains(Filter) || fmp.descricaoeq.ToString().Contains(Filter) || fmp.codigo.ToString().Contains(Filter))
            return true;

        return false;
    }
}
