@page "/servicos"
@using GoldYAN.Controller
@using GoldYAN.Data
@using System.Threading
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@inject IJSRuntime js
@inject ServicosController SC


@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Serviços</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@updateServicos" OnValidSubmit="@Update">
                        <div class="form-group m-3 p-1">
                            <label for="telefone">Código do Serviço:</label>
                            <InputText class="w-25 form-control" id="telefone" @bind-Value="updateServicos.codigo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Descrição do Serviço:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="updateServicos.descricao" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Custo do Serviço:</label>
                            <InputNumber class="w-25 form-control" style="-moz-appearance: textfield;" id="email" placeholder="Boas" @bind-Value="updateServicos.custo" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (showModal2)
{
    <div class="modal fade show" id="myModal" style="display:block;background-color:rgba(128, 128, 128, 0.5);" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Inserir novo Serviço</h4>
                    <button type="button" class="close" @onclick="@ModalCancel2">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@criarServicos" OnValidSubmit="@Criar">
                        <div class="form-group m-3 p-1">
                            <label for="telefone">Código do Serviço:</label>
                            <InputText class="w-25 form-control" id="telefone" @bind-Value="criarServicos.codigo" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Descrição do Serviço:</label>
                            <InputText class="w-25 form-control" id="email" placeholder="Boas" @bind-Value="criarServicos.descricao" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="email">Custo do Serviço:</label>
                            <InputNumber class="w-25 form-control" style="-moz-appearance: textfield;" id="email" placeholder="Boas" @bind-Value="criarServicos.custo" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Inserir Banco</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}







<AuthorizeView Roles="Admin, Administração">
    <Authorized>

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="display:inline;">Listagem de Serviços</h6> <button type="submit" @onclick="@ModalShow2" class="btn btn-success btn-sm float-right"><i class="fas fa-plus"></i>Inserir novo serviço</button>
                </div> 
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Pesquisar Encomenda:<input type="search" @bind="Filter" @bind:event="oninput" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;">IDEncomenda</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 60px;">IDCliente</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 160px;">Nome</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">Telefone</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 45px;">Data</th></tr>
                                        </thead>
                                        <tfoot>
                                            <tr><th rowspan="1" colspan="1">IDEncomenda</th><th rowspan="1" colspan="1">IDCliente</th><th rowspan="1" colspan="1">Nome</th><th rowspan="1" colspan="1">Telefone</th><th rowspan="1" colspan="1">Data</th></tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var servico in @VSS)
                                            {
                                                if (!IsVisible(servico))
                                                    continue;

                                            <tr style="height: 1em;">
                                                <td style=" overflow: hidden; white-space: nowrap; " title="@servico.codigo">@servico.codigo</td>
                                                <td style=" overflow: hidden; white-space: nowrap; " title="@servico.descricao">@servico.descricao</td>
                                                <td style=" overflow: hidden; white-space: nowrap; " title="@servico.idfornecedor">@servico.idfornecedor</td>
                                                <td><button class="btn btn-sm btn-primary" @onclick="@ModalShow" style="margin-left: 1rem"><i class="fas fa-pen"></i></button><button class="btn btn-sm btn-danger" @onclick="() => Apagar(servico.idservico)" style="margin-left: 0.3rem"><i class="fas fa-trash"></i></button></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Não tem acesso a esta página</h1>
    </NotAuthorized>
</AuthorizeView>


@code {
    List<GoldYAN.Data.Servicos> VSS = new List<GoldYAN.Data.Servicos>();

    Data.Servicos updateServicos = new Data.Servicos();

    Data.Servicos criarServicos = new Data.Servicos();

    bool showModal = false;
    bool showModal2 = false;

    protected override async Task OnInitializedAsync()
    {
        VSS = SC.GetAll();

        foreach (var servico in @VSS)
        {
            updateServicos.codigo = servico.codigo;
            updateServicos.idfornecedor = servico.idfornecedor;
            updateServicos.idunidade = servico.idunidade;
            updateServicos.descricao = servico.descricao;
            updateServicos.custo = servico.custo;

        }

    }

    public async Task Apagar(int id)
    {

        bool confirmation;

        confirmation = await js.InvokeAsync<bool>("confirm", "Quer mesmo apagar?");

        if (confirmation)
        {
            string message = SC.Delete(id);
            OnInitializedAsync();
            Task.Delay(1000);
            {
                await js.InvokeVoidAsync("alert", @message);
            }
        }
    }

    public async Task Update()
    {
        SC.Put(updateServicos.idservico, updateServicos);
        showModal = false;
    }

    public async Task Criar()
    {
        var resultado = SC.Post(criarServicos);
        StateHasChanged();
        showModal2 = false;
        VSS = SC.GetAll();

    }


    void ModalShow()
    {
        showModal = true;
    }
    void ModalCancel()
    {
        showModal = false;
    }
    void ModalShow2()
    {
        showModal2 = true;
    }
    void ModalCancel2()
    {
        showModal2 = false;
    }


    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

    public string Filter { get; set; }

    public bool IsVisible(Data.Servicos servicos)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (servicos.codigo.ToString().Contains(Filter) || servicos.descricao.ToString().Contains(Filter) || servicos.idservico.ToString().Contains(Filter))
            return true;

        return false;
    }
}

