@using GoldYAN.Controller
@page "/unidades"
@inject IJSRuntime js
@inject UnidadesController VU
@attribute [Authorize]


@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Atualizar Informação</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@updateU" OnValidSubmit="@Update">
                        <div class="form-group m-3 p-1">
                            <label for="iu">Indice:</label>
                            <InputText autocomplete="false" class="w-25 form-control" id="iu" placeholder="Indice Unidade" @bind-Value="updateU.indice" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="du">Descrição:</label>
                            <InputText autocomplete="false" class="w-25 form-control" id="du" placeholder="Descrição Unidade" @bind-Value="updateU.descricao" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@if (showModal2)
{
    <div class="modal fade show" id="myModal" style="display:block; background-color:rgba(128, 128, 128, 0.5);" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Inserir nova unidade</h4>
                    <button type="button" class="close" @onclick="@ModalCancel2">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <EditForm Model="@criarU" OnValidSubmit="@Criar">
                        <div class="form-group m-3 p-1">
                            <label for="iu">Indice:</label>
                            <InputText class="w-25 form-control" id="iu" placeholder="Indice Unidade" @bind-Value="criarU.indice" />
                        </div>
                        <div class="form-group m-3 p-1">
                            <label for="du">Descrição:</label>
                            <InputText class="w-25 form-control" id="du" placeholder="Descrição Unidade" @bind-Value="criarU.descricao" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Inserir Unidade</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}


<AuthorizeView Roles="Admin">
    <Authorized>

        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="display:inline;">Listagem de Unidades</h6> <button type="submit" @onclick="@ModalShow2" class="btn btn-success btn-sm float-right"><i class="fas fa-plus"></i>Inserir nova unidade</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Pesquisar Encomenda:<input type="search" @bind="Filter" @bind:event="oninput" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-sm dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 20px;">IDUnidade</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 160px;">Indice</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 20px;">Descrição</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 45px;">Ação</th></tr>
                                        </thead>
                                        <tfoot>
                                            <tr><th rowspan="1" colspan="1">IDUnidade</th><th rowspan="1" colspan="1">Indice</th><th rowspan="1" colspan="1">Descrição</th><th rowspan="1" colspan="1">Ações</th></tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var unidade in @VUS)
                                            {
                                                if (!IsVisible(unidade))
                                                    continue;

                                                <tr style="height: 1em;">
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@unidade.idunidade">@unidade.idunidade</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@unidade.indice">@unidade.indice</td>
                                                    <td style=" overflow: hidden; white-space: nowrap; " title="@unidade.descricao">@unidade.descricao</td>
                                                    <td><button class="btn btn-sm btn-primary" @onclick="@ModalShow" style="margin-left:1rem"><i class="fas fa-pen"></i></button><button class="btn btn-sm btn-danger" @onclick="() => Apagar(unidade.idunidade)" style="margin-left:0.3rem"><i class="fas fa-trash"></i></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Não tem acesso a esta página</h1>
    </NotAuthorized>
</AuthorizeView>




@code {

    List<GoldYAN.Data.Unidades> VUS = new List<GoldYAN.Data.Unidades>();

    Data.Unidades updateU = new Data.Unidades();

    Data.Unidades criarU = new Data.Unidades();

    bool showModal = false;
    bool showModal2 = false;

    protected override async Task OnInitializedAsync()
    {
        VUS = VU.GetAll();

        foreach (var unidades in @VUS)
        {
            updateU.idunidade = unidades.idunidade;
            updateU.descricao = unidades.descricao;
            updateU.indice = unidades.indice;
        }

    }

    public async Task Apagar(int id)
    {

        bool confirmation;

        confirmation = await js.InvokeAsync<bool>("confirm", "Quer mesmo apagar?");

        if (confirmation)
        {
            string message = VU.Delete(id);
            OnInitializedAsync();
            Task.Delay(1000);
            {
                await js.InvokeVoidAsync("alert", @message);
            }
        }
    }

    public async Task Update()
    {
        VU.Put(updateU.idunidade, updateU);
        showModal = false;
    }

    public async Task Criar()
    {
        var resultado = VU.Post(criarU);
        StateHasChanged();
        showModal2 = false;
        VUS = VU.GetAll();

    }

    void ModalShow()
    {
        showModal = true;
    }
    void ModalCancel()
    {
        showModal = false;
    }
    void ModalShow2()
    {
        showModal2 = true;
    }
    void ModalCancel2()
    {
        showModal2 = false;
    }

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

    public string Filter { get; set; }

    public bool IsVisible(Data.Unidades unidade)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (unidade.idunidade.ToString().Contains(Filter) || unidade.descricao.ToString().Contains(Filter) || unidade.indice.ToString().Contains(Filter))
            return true;

        return false;
    }

}
